.btn {
  font-size: 16px;
  border-radius: 5px;
}

.btn1 {
  background-color: green;
  border: 2px dashed yellow;
  padding: 10px;
}

.btn2 {
  background-color: orange;
  border: 2px dotted black;
  padding: 8px;
}

.btn3 {
  background-color: purple;
  border: 3px double rgb(87, 233, 58);
  padding: 14px;
}
