@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Manrope:wght@200..800&family=Moon+Dance&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto+Slab:wght@100..900&family=SUSE:wght@100..800&family=Sigmar&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./blog.css);
@import url(./contatti.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

a {
  color: purple;
  text-decoration: none;
}

ul {
  margin-left: 30px;
}

li {
  list-style: none;
  display: inline-block;
  width: 100px;
}

p {
  line-height: 34px;
}

img {
  opacity: 0.6;
}

.logo {
  position: fixed;
  right: 20px;
  top: 20px;
}
.title {
  color: red;
  font-family: "Playwrite IT Moderna", cursive;
}
